:local(.wrapper){

}

:local(.sectionTitle){
font-size: 48px;

}

:local(.skillList){
  width: 100%;
}

:local(.skillListPrimary a){
  text-decoration: none;
  font-size: 32px;
  text-align: center;
  padding: 8px;
  
}

:local(.skillListSecondary a){
  text-decoration: none;
  font-size: 32px;
  text-align: center;
  padding: 10px;
  
}

@media screen and (min-width: 45rem) {
  :local(.skillListPrimary a){
    font-size: 70px;
  }
  
  :local(.skillListSecondary a){
    font-size: 40px;
  }
}